html{
    background-color: #000;
    color: #fff;
}
pre{
    background-color: #333;
    padding: 10px;
    border: 1px solid #555;
    overflow: auto;
    color: #eee;
}
form{
    background-color: #161616;
    padding: 10px;
    border: 1px dashed #555;
}